html, body {
    margin: 0; padding: 0;
    font-family: "Roboto", "PT Sans", sans-serif;
    height: 100%; min-height: 100%;
    overflow: hidden;
    position: relative;
}

/* Page layout */
.gom-page-header {
    position: absolute;

    top: 0; left: 0;
    height: 50px; width: 100%;

    border-bottom: 2px solid #f0f0f0;
}
.gom-page-content {
    position: absolute;
    top: 50px; width: 90%;
    max-width: 720px;
    bottom: 0;

    margin: 0, auto;
    overflow-y: auto;
}

/* Navbar stuffs */
.gom-nav-new-mtg,
.gom-nav-item {
    height: 50px;
    line-height: 50px;

    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 14pt;

    padding-bottom: 5px;
    padding-left: 2px; padding-right: 2px;

    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.gom-nav-item:hover {
    color: #2db34a;
    /* border-bottom: 2px solid #2db34a; */
}

.gom-nav-new-mtg {
    position: absolute;
    right: 0; top: 0px;

    padding: 5px;
    width: 125px; height: 20px; line-height: 20px;

    border-radius: 220px;
    border: 2px solid black;
    margin: 8px;
}
.gom-nav-new-mtg:hover {
    border: 2px solid #2db34a;
    color: #2db34a;
}
    

/* Meeting preview pane(s)  */
.gom-meeting-preview {
    max-width: 720px;
    width: 90%;

    margin: 0 auto;

    height: 40px;
    background: red;
    color: white;
}


